Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
Flask-SocketIO==5.3.4
Werkzeug==2.3.7
requests==2.31.0
pywebpush==1.14.0
python-socketio==5.9.0
python-engineio==4.7.1
SQLAlchemy==2.0.20
eventlet==0.33.3
cryptography==41.0.3
ujson==5.8.0
gevent==23.9.1
gunicorn==21.2.0
